@import "./index.css";

.outer-container {
  /* background-color: aqua; */
  height: 82vh;
  /* padding: 2rem; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.inner-container {
  /* background-color: aliceblue; */
  /* border: 2px solid red; */
  height: 40rem;
  width: 30%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.new-password-form-container {
  /* border: 1px solid salmon; */
  width: 30rem;
  height: 80%;
  margin: 2rem 0;
  /* padding: 0 2rem; */
}

.new-password-form {
  margin-top: 3.5rem;
  text-align: left;
}

.page-title {
  /* border: 1px solid #0c1848; */
  background-color: #0c1848;
  color: #ffffff;
  border-radius: 0.5rem;
  width: 70%;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit {
  height: 4rem;
  width: 15rem;
  background-color: #0c1848;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
  border-radius: 0.5rem;
}
