.textfield-container {
  height: 100%;
  padding: 2rem 0;
  /* border: 1px solid red; */
}

.captcha-and-input {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  margin: 1rem 0;
}

.text-left {
  text-align: left;
}

.captcha {
  /* border: 1px solid black; */
  min-width: 15rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e7;
  border-radius: 0.5rem;

  /* margin: 1rem; */
}

.captcha-and-input > input {
  border: none;
  background-color: #e7e7e7;
  border-radius: 0.5rem;
  padding: 0 1rem;
  /* width: 10rem; */
}

.btn-next-align-center {
  /* padding: auto; */
  margin: 2.5rem 0;
}

.btn-next {
  height: 4rem;
  width: 15rem;
  background-color: #0c1848;
  color: #ffffff;
  margin: auto;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
